
    <footer class="bg-dark text-light pt-3  ">

        <div class="container">
            <div class="row">

            <!-- Logo y eslogan -->
            <div class="col-md-4 ">
                <h4 class="fw-bold">GeekXpress<span class="text-warning">⚡</span></h4>
                <p>"Tu universo, tus reglas"</p>
                <p class="small">&copy; 2025 GeekXpress. Todos los derechos reservados.</p>
            </div>

            <!-- Navegación -->
            <div class="col-md-2 ">
                <h6 class="text-uppercase">Explora</h6>
                <ul class="list-unstyled">
                <li><a href="#" class="text-light text-decoration-none">Inicio</a></li>
                <li><a href="../pages/catalog.html" class="text-light text-decoration-none">Tienda</a></li>
                <li><a href="#" class="text-light text-decoration-none">Ofertas</a></li>
                <li><a href="#" class="text-light text-decoration-none">Novedades</a></li>
                </ul>
            </div>

            <!-- Atención al cliente -->
            <div class="col-md-3 ">
                <h6 class="text-uppercase">Soporte</h6>
                <ul class="list-unstyled">
                <!-- <li><a href="#" class="text-light text-decoration-none">Preguntas frecuentes</a></li> -->
                <li><a href="#" class="text-light text-decoration-none">Envíos y devoluciones</a></li>
                <li><a href="../pages/contact.html" class="text-light text-decoration-none">Contáctanos</a></li>
                </ul>
            </div>

            <!-- Suscripción -->
            <div class="col-md-3 ">
                <h6 class="text-uppercase">Únete</h6>
                <p>Recibe noticias y descuentos solo para verdaderos geeks:</p>
                <form>
                <div class="input-group">
                    <input id="footer-subscribe" type="email" class="form-control" placeholder="Tu correo" required>
                    <button class="btn btn-warning" type="submit">Suscribirme</button>
                </div>
                </form>
            </div>
            </div>

            <!-- Redes sociales -->
            <div class="text-center mt-2 pb-2">
            <a href="#" class="text-light me-3"><i class="bi bi-instagram"></i></a>
            <a href="#" class="text-light me-3"><i class="bi bi-youtube"></i></a>
            <a href="#" class="text-light me-3"><i class="bi bi-discord"></i></a>
            </div>
        </div>
    </footer>